* {
     padding: 0px;
     margin: 0px;
}
a {
     text-decoration: none !important;
}
a:hover{
     color: #6ab4cf;
}

body{
     background-color: #121212;
}



.logo-mystyle{
     margin-left: 10px;
     margin-right: 10px;
}

.navbar{
     padding-top: 0px;
     padding-bottom: 0px;
}

.form-rounded {
     border-width: 1px;
     border-radius: 1.5rem;
}


.sbtn-rounded{
     border-width: 2px;
     border-color: #707070;
     border-radius: 1.5rem !important;
     z-index: 1;
     margin-left: -100%;
}
.min-index{
     z-index: 0;
}
.min-index:focus{
     z-index: 0 !important;
}

.my-sbox{
     border-width: 2px;
     border-color: #707070;
     background-color: #181818;
     border-top-right-radius: 1.5rem !important;
     border-bottom-right-radius: 1.5rem !important;
     max-width: 500px;
     font-style: italic;
     padding-right: 40px;
     margin-left: 20px;
}

.my-sbox:focus{
     background-color: #181818;
}

.btn-mystyle{
     display: inline-block;
     border-width: 0px;
     background-color: #73D6FB;
     font-weight: 500;
     font-size: medium;
     color: #121212;
     border-radius: 1.5rem;
     cursor: pointer;
}

.navbtn-mystyle{
     width: 100%;
     padding: 10px;
     display: inline-block;
     min-width: 100px;
     color: #dfdfdf;
     font-weight: 500;
     font-size: larger;
}

.navbtn-mystyle:hover{
     color: #FFD073;
}

.navbtn-mystyle-selected{
   
     color: #FFD073;
}

.btn-collapse-mystyle{
     border: none;
}
.btn-collapse-mystyle:focus{
     border: none !important;
     outline: none;
}
.right-nav-mystyle
{
     margin-left: 0px;
}


.avatar{
     height: 45px;
}

.bg-dark{
     background-color: #252525 !important;

     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
}

.sidebar a{
     display: block;
     text-decoration: none;
     color: #dfdfdf;
     font-weight: 500;
     font-size: large;
}

.custome-sidebar{
     padding-right: 4px;
     padding-left: 4px;
     margin-top:8px;
}
.sidebar a:hover{
     color: #FFD073;
}

.mt-sidebar{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}

.mt-sidebar-item a{
     margin-left: 27px;
     width: 80%;
     font-size: small;
     font-weight: 500;
     margin-top: 10px;
}
.text-toggle{
     color: #73D6FB !important;
}

.mt-center{
     padding-top: 12px;
     padding-bottom: 12px;
     padding-left: 12px;
}

.mt-center a{
     display: block;
     text-decoration: none;
     color: #e2bc70;
     font-weight: 500;
     font-size: large;
}

.card-mystyle{
     background-color: #181818;
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
     padding: 12px;
     margin: 4px;
}

.avatar_card{
     height: 64px;
     margin-left: -15px;
}

.card-name{
     font-size: small;
     font-weight: 500;
     color: #73D6FB;
}
.card-member, .card-time{
     font-size: small;
     font-weight: normal;
     color: #7b7b7b;
}



.gridV .row{
     margin-left:  0px;
     margin-right: 0px;
}

.gridV{
     width: 100%;
     padding-left: 4px;
     padding-right: 4px;
}

.custome-col{
     padding-left: 0px;
     padding-right: 0px;
}

.btn-small{
     display: inline-block;
     border-width: 0px;
     background-color: #73D6FB;
     font-weight: 500;
     font-size: small;
     color: #121212;
     border-radius: 1.5rem;
     cursor: pointer;
}


.option-button-group{
     margin-top: 6px;
     margin-left: auto;
}

.gridV .row a{
     text-decoration: none;
     color: #73D6FB;
}

.create-g{
     display: inline-block;
     margin-left: 25px;
     margin-top: -5px;
}
.modal-dialog{
     margin-top: 7%;
}
.modal-content{
     background-color: #151515;
}
.modal-header{
     border-bottom: none;
}
.modal-footer{
     border-top: none;
}
.close{
     height: 45px;
     line-height: 0;
}

.cancel{
     background-color: #FF8282;
}
.mt-dialog{
     color: #dfdfdf;
     font-size: small;
     font-weight: 500;
     margin-top: 10px;
}
.custome-form{
     background-color: #181818;
     border-color: #707070;
     font-size: small;
     font-weight: 500;
}
.custome-form:focus{
     background-color: #181818;
     color: #dfdfdf;
}
.infor-container{
     margin-top: 8px;
     margin-left: 4px;
     margin-right: 8px;
}
.fix-col-padding{
     padding-left: 0px;
     padding-right: 0px;
}
.fix-col-padding .row{
     margin-right: 0px;
     margin-left: 0px;
}
.group_large{
     height: 165px;
     padding: 16px;
     display: inline-block;
}
.group-name-main{
     display: inline-block;
     margin-left: 8px;
}
.group-name-main a{
     display: inline-block;
     font-size: larger;
     font-weight: 500;
     color: #73D6FB;
     text-decoration: none;
}
.text-normal{
     color:#dfdfdf;
     font-size: small;
     font-weight: normal;
}

.option-button{
     display: inline-block;
     position: relative;
     margin: 8px;
     left: 47%;
}
.care-event{
     display: inline-block;
     position: relative;
     margin: 8px;
     left: 53%;
}
.more_button{
     display: inline-block;
     height: 31px;
     width: 31px;
     margin: -1px 16px 1px 8px;
}

.upload-title{
     font-weight: 500;
     color: #73D6FB;
     font-size: small;
     margin: 16px;
     margin-top: 0px;
     padding-top: 12px;
}
.new_product_button{
     position: relative;
     display: block;
     max-height: 89px;
     max-width: auto;
     margin-left: auto;
     margin-right: auto;
     margin-top: 16px;
     margin-bottom: 16px;
     cursor: pointer;
}

.add-content{
     padding:16px;
     background-color: #151515;
}

.group-video{
     margin-top: 8px;
     padding: 8px;
}
.content-info{
     display: inline-block;
     font-size: small;
     margin: 8px;
}
.content_avatar{
     display: inline-block;
     height: 58px;
}
.content-name{
     display: inline-block;
     font-weight: 500;
     color: #73D6FB;
     font-size: small;
}
.content-time{
     font-size: 85%;
     font-weight: normal;
     color: #7b7b7b;
}

.content-video{
     margin-top: 4px;
}
.content-reaction{
     font-size: small;
     margin-top: 16px;
     margin-left: auto;
     margin-right: 8px;
     text-align: right;
     margin-bottom: 12px;
}
.content-reaction i{
     position: relative;
     display: inline-block;
     font-size: 1.3rem;
     margin-left: 16px;
     margin-right: 3px;
     top: 3px
     
}
.normal-title{
     font-weight: 500;
     color: #73D6FB;
     font-size: small;
}
.normal-heading{
     font-weight: normal;
     color: #dfdfdf;
     font-size: small;
     font-style: italic;
}
.normal-text{
     font-weight: normal;
     color: #dfdfdf;
     font-size: small;
     font-style: normal;
}

.custome-right{
     padding-right: 0px;
     padding-left: 0px;
}
.right-container{
     margin-left: 4px;
     margin-right: 8px;
     padding:8px;
}

.event_avatar{
     height: 72px;
     margin-left: -20px;
}
.scroll-y-rank{
     overflow-y: scroll;
     height: 100%;
     padding: 0px;
}
.rank-card{
     width: 100%;
     background-color: #252525;
     margin-left: 0px;
     margin-right: 0px;
     margin-bottom: 8px;
}
.rank-reaction{
     font-size: small;
     margin-left: 16px;
     vertical-align: middle;
     padding-left: 8px;
}

.rank-info{
     padding-top: 8px;
     padding-bottom: 8px;
     padding-left: 0;
     padding-right: 0;
}

.rank-card-you{
     width: 100%;
     background-color: #151515;
     margin-left: 0px;
     margin-right: 0px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
}

@media (min-height: 630px) {
     .rank-content{
          max-height: 580px;
     }
}
@media (max-height: 629.98px) {
     .rank-content{
          max-height: 490px;
     }
}

@media (max-width: 991.98px) {
     .option-button{
          left: 70%;
     }
     .care-event{
          left: 70%;
     }
}

@media (min-width: 935px) {
     .navbar-expand-lg {
       -ms-flex-flow: row nowrap;
       flex-flow: row nowrap;
       -ms-flex-pack: start;
       justify-content: flex-start;
     }
     .navbar-expand-lg .navbar-nav {
       -ms-flex-direction: row;
       flex-direction: row;
     }
     .navbar-expand-lg .navbar-nav .dropdown-menu {
       position: absolute;
     }
     .navbar-expand-lg .navbar-nav .nav-link {
       padding-right: 0.5rem;
       padding-left: 0.5rem;
     }
     .navbar-expand-lg > .container,
     .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
       -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
     }
     .navbar-expand-lg .navbar-collapse {
       display: -ms-flexbox !important;
       display: flex !important;
       -ms-flex-preferred-size: auto;
       flex-basis: auto;
     }
     .navbar-expand-lg .navbar-toggler {
       display: none;
     }

     .button-icon-up{
          display: none !important;
     }
}

@media (max-width: 934.98px){
     .button-text{
          display: none;
     }
}

@media (max-width: 635px){
     .option-button{
          left: 55%;
     }
     .care-event{
          left: 55%;
     }
}

@media (max-width: 450px){
     .right-nav-mystyle{
          max-width: 50px;
     }
}

@media (max-width: 410px){
     .new_product_button{
          max-height: 65px;
     }
}

@media (max-width: 361px){
     .right-nav-mystyle{
          max-width: 30px;
          margin-right: 8px;
     }
     .fa-2x{
          font-size: large !important;
     }
     .avatar{
          height: 35px;
          margin-left: -10px;
     }
     .option-button{
          left: 50%;
     }
     .care-event{
          left: 50%;
     }
}